
#contact {
    background-color: #fff;
    padding: 10px 0;
}

.contact-form {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

button {
    background-color: #007BFF; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; 
}
